@font-face {
    font-family: "Roboto";
    src: url(./polices/roboto/Roboto-Medium.ttf);
}

:root{
    --hero-footer-background: #1F2937
}


*{
    margin: 0;
    padding: 0;
}

.page{
    width: 90%;
    margin: 0 auto;
}

.page__sectionOne{
    background-color: var(--hero-footer-background);
    padding: 0 50px 50px 50px;
}

/* Header Styles */

.header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.header__logo{
    width: 30%;
}

.header__logoText{
    color: #f9faf8;
    font-size: 24px;
    font-family: "Roboto", serif;
}

.header__nav{
    width: 70%;
}

.header__links{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    color: #e5e7eb;
    font-size: 18px;
    font-family: "Roboto",serif;
}

/* Hero Styles */

.hero{
    display: flex;
    gap: 25px;
    margin: 5%;
}

.hero__left{
    width: 36%;
}

.hero__title{
    font-family: "roboto", serif;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

.hero__description{
    color: #e5e7eb;
    font-size: 18px;
    font-family: "roboto", serif;
}

.hero__cta{
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-family: "roboto", serif;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 8px;
    margin: 20px 0;

}

.hero__right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 245px;
    background-color: #8f9296d8;
    width: 48%;
    font-family: "roboto", serif;
    color:#f9faf8;
    font-weight: 500;
    font-size: 18px;
}

/* Info Styles */

