@font-face {
    font-family: "Roboto";
    src: url(./polices/roboto/Roboto-Medium.ttf);
}

:root{
    --hero-footer-background: #1F2937
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
}

.page{
    width: 90%;
    margin: 0 auto;
    background-color: #f9faf8;
}

.page__sectionOne{
    background-color: var(--hero-footer-background);
    padding: 0 50px 50px 50px;
}

/* HEADER STYLES */

.header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.header__logo{
    width: 30%;
}

.header__logoText{
    color: #f9faf8;
    font-size: 24px;
    font-family: "Roboto", serif;
}

.header__nav{
    width: 70%;
}

.header__links{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    color: #e5e7eb;
    font-size: 18px;
    font-family: "Roboto",serif;
}

/* HERO STYLES */

.hero{
    display: flex;
    gap: 25px;
    margin: 5%;
}

.hero__left{
    width: 36%;
}

.hero__title{
    font-family: "Roboto", serif;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

.hero__description{
    color: #e5e7eb;
    font-size: 18px;
    font-family: "Roboto", serif;
}

.hero__cta{
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-family: "Roboto", serif;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 8px;
    margin: 20px 0;

}

.hero__right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 245px;
    background-color: #8f9296d8;
    width: 48%;
    font-family: "Roboto", serif;
    color:#f9faf8;
    font-weight: 500;
    font-size: 18px;
}

/* INFO STYLES */

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px;
    margin: 5% 0;
}

.info__title{
    font-size: 36px;
    font-family: "Roboto", serif;
    font-weight: 900;
    color: #1f2937;

}

.info__illustration{
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 50px;

}

.info__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
}

/* CARD STYLES */

.card__img{
    height: 180px;
    width: 180px;
    border: 3px solid #3882f6;
    border-radius: 20px;
}

.card__description{
    width: 90%;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", serif;
    color: #75797e;
}

/* QUOTE STYLES */

.page__sectionThree{
    background-color: #e5e7eb;
    padding: 120px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 50px;
}

.quote__text{
    font-weight: 300;
    font-size: 36px;
    font-family: "Roboto", serif;
    font-style: italic;
    color: #1f2937b6;
    width: 80%;
    margin-bottom: 20px;
}

.quote__author{
    display: block;
    text-align: end;
    font-weight: 900;
    font-size: 25px;
    font-family: "Roboto", serif;
    width: 70%;
}

/* SIGNUP STYLES */

.page__sectionFour{
    padding: 70px;

}

.signup{
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;
    width: 80%;
    padding: 60px;
    margin: 5% auto;
    border-radius: 10px;
}

.signup__left{
    width: 70%;
    line-height: 30px;
}

.signup__title{
    font-size: 25px;
    font-family: "Roboto", serif;
}

.signup__description{
    font-size: 18px;
    font-family: "Roboto", serif;
    color: #d5dae0;
}

.signup__cta{
    font-size: 20px;
    padding: 10px 40px;
    border: 3px solid #ffffff;
    background-color: #3882f6;
    color:#ffffff;
    font-family: "Roboto", serif;
    border-radius: 10px;
}

/* FOOTER STYLES */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 50px;
    margin-bottom: 0.5%;
}

.footer__copyright{
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto", serif;
}